@model DistanceEducation.Models.Student

@{
    ViewData["Title"] = "Обновление информации о студенте";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="EditStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Surname" class="form-control" autocomplete="surname" aria-required="true" />
                <label asp-for="Surname"></label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select class ="" id="group" name="groupId">
                    @foreach (var item in ViewBag.Groups)
                    {
                        <option  value="@item.Id">@item.Name</option>
                    }
                </select><br/>
            </div>
            <button id="editSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Students">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
