@model IEnumerable<DistanceEducation.Models.Group>

@{
    ViewData["Title"] = "Список групп";
}

<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-1 ">
                <button class="btn btn-secondary"><a class="text-decoration-none text-light" asp-controller="Admin" asp-action="Index">Назад</a></button>
            </div>
            <div class="col-8">
            </div>
            <div class="col-3 ">
                <a class="text-decoration-none" asp-controller="Admin" asp-action="AddGroup">Добавить группу</a>
            </div>
        </div>
    </div>
    <div id="StudentsList">@Html.Partial("ListGroups", Model)</div>
</div>



