
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button> <a asp-action="Students">Список студентов</a></button>    <button><a asp-action="Lecturers">Список лекторов</a></button>
</div>

