<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Имя студента
            </th>
            <th>
                Фамилия студента
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in ViewBag.Students)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
            </tr>
            i += 1;
        }
    </tbody>
</table>
