@model IEnumerable<DistanceEducation.Models.Lecturer>

<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Имя лектора
            </th>
            <th>
                Фамилия лектора
            </th>
            <th colspan="2">

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    <button class="btn btn-p btn-primary"><a class="text-decoration-none text-light" asp-action="LecturerDetails" asp-route-ID="@item.Id">Подробная информация</a></button>
                    <button class="btn btn-danger"><a class="text-decoration-none text-light" asp-action="DeleteLecturer" asp-route-id="@item.Id">Удалить</a></button>
                </td>
            </tr>
            i += 1;
        }
    </tbody>
</table>
