@model DistanceEducation.Models.Acount.RegisterStudent

@{
    ViewData["Title"] = "Регистрация студента";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="RegisterStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Surname" class="form-control" autocomplete="surname" aria-required="true" />
                <label asp-for="Surname"></label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="GroupId"></label>
                    </div>
                    <div class="col-5">
                        <select asp-for="GroupId" id="group">
                            <option value="null">Не назначена</option>
                            @foreach (var item in ViewBag.Groups)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <span asp-validation-for="GroupId" class="text-danger"></span><br />
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Добавить студента</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Students">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
