
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DistanceEducation</h1>
    <hr />
    <h3 class="display-4">Добро пожаловать на нашу главную страницу!</h3>
    <br/>
    <h6>Здесь вы найдете все необходимое для успешного образования из любой точки мира. Наша цель - обеспечить вас надежной платформой, на которой вы сможете получить высококачественное образование без ограничений. Мы предлагаем широкий выбор курсов и программ, которые учитывают ваши уникальные потребности. У нас вы найдете опытных преподавателей, интерактивные материалы и возможность общаться с другими студентами. Присоединяйтесь к нам сегодня и начните строить свое будущее прямо сейчас!</h6>
</div>


