
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

footer, header {
    background-color: black;
    color: white;
}
.nav_button {
    color: white;
}

body {
    margin-bottom: 60px;
    background-color: skyblue;
}

input {
    width:20px;
    margin: 5px;
}
.form-floating {
    padding: 0px 10px 0px 0px;
}

main {
    border: 2px solid;
    border-radius: 10px;
    background-color: honeydew;
    text-align: center;
    padding: 14px;
}
.row {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.main-back {
    margin:auto;
}

.fild-details {
    text-align:left ;
}
.fild-details_name {
    text-align: right;
    
}
.hiden-text {
    visibility: hidden;
}


.fildfill {
    display: none;
    width:100%;
}